<div class="legal-container">
  <h1>{{ getTranslation("IMPRINT.H1") }}</h1>
  <h3>{{ getTranslation("IMPRINT.H2") }}</h3>
  <p>
    <b>{{ getTranslation("IMPRINT.POINT1") }} </b>
    <a href="https://ogulcan-erdag.com" target="_blank"
      >https://ogulcan-erdag.com</a
    >
  </p>
  <p>
    <b>{{ getTranslation("IMPRINT.POINT2") }}</b> Ogulcan Erdag<br /><br />
  </p>
  <h3>{{ getTranslation("IMPRINT.H2") }}</h3>
  <p>Mühlstraße 23</p>
  <p>{{ getTranslation("IMPRINT.TOWN") }}</p>
  <p>
    <b>{{ getTranslation("IMPRINT.POINT3") }} </b>
    <a href="tel:017670189698">{{ getTranslation("IMPRINT.PHONE") }}</a>
  </p>
  <p>
    <b>{{ getTranslation("IMPRINT.POINT4") }} </b>
    <a href="mailto:info@ogulcan-erdag.com">info&#64;ogulcan-erdag.com</a
    ><br /><br />
  </p>
  <h3>{{ getTranslation("IMPRINT.H3") }}</h3>
  <p>{{ getTranslation("IMPRINT.TEXT1") }}</p>
  <br />
  <h3>{{ getTranslation("IMPRINT.H4") }}</h3>
  <p>{{ getTranslation("IMPRINT.TEXT2") }}</p>
  <br />
  <p>
    {{ getTranslation("IMPRINT.BOTTOM") }}
    <a href="https://impressum-generator.info/" target="_blank"
      >impressum-generator.info</a
    >
    - powered by
    <a href="https://abfindungshero.de/" target="_blank">abfindungshero.de</a
    ><br /><br />
  </p>
</div>
