<div class="legal-container">
  <h1>{{ getTranslation("PRIVACY.H1") }}</h1>
  <h2>{{ getTranslation("PRIVACY.H2") }}</h2>
  <h3>{{ getTranslation("PRIVACY.H3") }}</h3>
  <p>{{ getTranslation("PRIVACY.T1") }}</p>
  <h3>{{ getTranslation("PRIVACY.H4") }}</h3>
  <p>
    <b>{{ getTranslation("PRIVACY.T2") }}</b>
  </p>
  <br />
  <p>{{ getTranslation("PRIVACY.T3") }}</p>
  <br />
  <p>
    <b>{{ getTranslation("PRIVACY.T4") }}</b>
  </p>
  <br />
  <p>{{ getTranslation("PRIVACY.T5") }}</p>
  <br />
  <p>{{ getTranslation("PRIVACY.T6") }}</p>
  <br />
  <p>
    <b>{{ getTranslation("PRIVACY.T7") }}</b>
  </p>
  <br />
  <p>{{ getTranslation("PRIVACY.T8") }}</p>
  <br />
  <p>
    <b>{{ getTranslation("PRIVACY.T9") }}</b>
  </p>
  <br />
  <p>{{ getTranslation("PRIVACY.T10") }}</p>

  <h2>{{ getTranslation("PRIVACY.H5") }}</h2>
  <p>{{ getTranslation("PRIVACY.T11") }}</p>
  <h3>{{ getTranslation("PRIVACY.H6") }}</h3>
  <p>{{ getTranslation("PRIVACY.T12") }}.</p>
  <br />
  <p>{{ getTranslation("PRIVACY.T13") }}</p>

  <h2>{{ getTranslation("PRIVACY.H7") }}</h2>

  <h3>{{ getTranslation("PRIVACY.H8") }}</h3>

  <p>{{ getTranslation("PRIVACY.T14") }}</p>
  <br />
  <p>{{ getTranslation("PRIVACY.T15") }}</p>
  <br />
  <p>{{ getTranslation("PRIVACY.T16") }}</p>

  <h3>{{ getTranslation("PRIVACY.H9") }}</h3>
  <p>{{ getTranslation("PRIVACY.T17") }}</p>
  <br />
  <p>{{ getTranslation("PRIVACY.T18") }}</p>
  <p>{{ getTranslation("PRIVACY.T19") }}</p>
  <p>{{ getTranslation("PRIVACY.T20") }}</p>
  <p>{{ getTranslation("PRIVACY.T21") }}</p>
  <p>{{ getTranslation("PRIVACY.T22") }}</p>
  <br />

  <p>{{ getTranslation("PRIVACY.T23") }}</p>

  <h3>{{ getTranslation("PRIVACY.H10") }}</h3>
  <p>{{ getTranslation("PRIVACY.T24") }}</p>
  <h3>{{ getTranslation("PRIVACY.H11") }}</h3>
  <p>{{ getTranslation("PRIVACY.T25") }}</p>
  <h3>{{ getTranslation("PRIVACY.H12") }}</h3>
  <p>{{ getTranslation("PRIVACY.T26") }}</p>
  <h3>{{ getTranslation("PRIVACY.H13") }}</h3>
  <p>{{ getTranslation("PRIVACY.T27") }}</p>
  <h3>{{ getTranslation("PRIVACY.H14") }}</h3>
  <p>{{ getTranslation("PRIVACY.T28") }}</p>
  <h3>{{ getTranslation("PRIVACY.H15") }}</h3>
  <p>{{ getTranslation("PRIVACY.T29") }}</p>
  <h3>{{ getTranslation("PRIVACY.H16") }}</h3>
  <p>{{ getTranslation("PRIVACY.T30") }}</p>
  <h3>{{ getTranslation("PRIVACY.H17") }}</h3>
  <p>{{ getTranslation("PRIVACY.T31") }}</p>
  <h3>{{ getTranslation("PRIVACY.H18") }}</h3>
  <p>{{ getTranslation("PRIVACY.T32") }}</p>
  <br />
  <p>{{ getTranslation("PRIVACY.T33") }}</p>
  <br />
  <p>{{ getTranslation("PRIVACY.T34") }}</p>
  <br />
  <p>{{ getTranslation("PRIVACY.T35") }}</p>
  <br />
  <p>{{ getTranslation("PRIVACY.T36") }}</p>
  <br />
  <p>{{ getTranslation("PRIVACY.T37") }}</p>
  <br />
  <h3>{{ getTranslation("PRIVACY.H19") }}</h3>
  <p>{{ getTranslation("PRIVACY.T38") }}</p>
  <br />
  <p>{{ getTranslation("PRIVACY.T39") }}</p>
  <br />

  <p>{{ getTranslation("PRIVACY.T40") }}</p>
  <a href="{{ getTranslation('PRIVACY.T41') }}" target="_blank">{{
    getTranslation("PRIVACY.T41")
  }}</a>
</div>
