@import '../../../mixins.scss';

#skills-container {
    width: 100%;
    position: relative;
    background: radial-gradient(ellipse 60% 120% at 5% 60%, #08463B 5%, #1C1C1C 30%);
    padding-bottom: 150px;
    @include dFlex($fd: row, $jc: center, $ai: center);
}

.skills-content {
    width: 1440px;
    @include dFlex($fd: column, $jc:flex-start, $ai: flex-start);
    gap: 20px;
    @include margin-sides($le: 96px, $ri: 96px);
}

.skills-headline {
    font-family: 'Karla';
    font-weight: 700;
    color: $standard-green;
    font-size: 24px;
}

.skills-main-content {   
    @include dFlex($fd: row, $jc:flex-start, $ai: flex-start);
    gap: 150px;
}

.skills-left {
    width: 520px;
    border: 1px solid $standard-green;
    border-radius: 30px;
    background-color: rgba(61,207,182,0.1);
    padding: 32px;
    > p {
        font-family: 'Karla';
        font-weight: 400;
        font-size: 18px;
        color: white;
        padding-bottom: 32px;
        line-height: 1.4;
    }
}

.skills-icons {
    @include dFlex($fd: row, $jc:flex-start, $ai: flex-start);
    flex-wrap: wrap;
    width: 700px;
    gap: 72px;
}

.skill-icon {
    @include dFlex($fd: column, $jc:flex-start, $ai: center);
    width: 100px;
    height: 100px;
    gap: 8px;
    > img {
        width: 60px;
    }
    > p {
        font-size: 18px;
        color: white;
        text-align: center;
    }
    
    &:hover img {
        scale: 1.1;
    }
}

.bubble-container {
    position: relative;
}

.speech-bubble {
    position: absolute;
    z-index: 50;
    bottom: 110px;
    right: -100px;
    background-color: white; 
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: 100px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    @include dFlex($fd: column, $jc:center, $ai: center);
    gap: 20px;
    display: none;
    > p {
        font-family: 'Karla';
        font-size: 16px;
        color: $standard-green;
        font-weight: 400;
        text-align: center;
    }
  }
  
  .speech-bubble:after {
    content: '';
    position: absolute;
    bottom: -20px; 
    left: 50px; 
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white; 
  }

  .skills-bubble {
    @include dFlex($fd: row, $jc:center, $ai: flex-start);
    gap: 16px;
  }

  .skill-bubble {
    @include dFlex($fd: column, $jc:space-between, $ai: center);
    height: 52px;
    > img {
        width: 32px;
    }
    > p {
        font-family: 'Karla';
        font-size: 12px;
        color: $standard-green;
        font-weight: 700;
        text-align: center;
    }
  }

  @media (max-width: 1440px) {
    .skills-content {
        width: 90%;
        @include margin-sides($le: 0px, $ri: 0px);
        @include dFlex($fd: column, $jc:flex-start, $ai: flex-start);
    }
    .skills-main-content {   
        width: 100%;
        @include dFlex($fd: column, $jc:flex-start, $ai: flex-start);
        gap: 40px;
    }
  }

  @media (max-width: 680px) {
    .skills-left {
        width: 100%;
        box-sizing: border-box;
    }
    .skills-icons {
        width: 100%;
        box-sizing: border-box;
        justify-content: center;
    }
    .skill-icon {
        width: 50px;
        height: 50px;
        gap: 8px;
    
        > img {
            width: 50px;
        }
        > p {
            font-size: 16px;
            color: white;
            text-align: center;
        }
    }
    .speech-bubble {
        bottom: 63px;
        right: -85px;
    }
    .speech-bubble:after {
        left: 90px;
    }
}   