<div id="start-container">
  <div class="title-box">
    <p class="jobtitle">Frontend Developer</p>
    <p class="main-name">Ogulcan Erdag</p>
    <p class="main-name-split">
      Ogulcan<br />
      Erdag
    </p>
    <div class="start-buttons" >
      <a href="#projects">
        <button>
          <span>{{ getTranslation("START.BUTTON1") }}</span>
        </button>
      </a>
      <a href="#contact">
        <button>
          <span>{{ getTranslation("START.BUTTON2") }}</span>
        </button>
      </a>
    </div>
  </div>
  <div class="banderole">
    <div class="scrolling-wrapper">
      <div class="scrolling-text">
        @for (i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]; track i) {
        <span>{{ getTranslation("START.BANDEROLE1") }}</span>
        <span>{{ getTranslation("START.BANDEROLE2") }}</span>
        <span>{{ getTranslation("START.BANDEROLE3") }}</span>
        <span>{{ getTranslation("START.BANDEROLE3") }}</span>
        }
      </div>
    </div>
  </div>
  <div class="lines-container">
    <div class="lines-content">
      <div class="line-element-left">
        <div class="arrow-down">
          <img src="../../../assets/img/arrow-down.svg" alt="" />
        </div>
        <div class="line-left"></div>
      </div>

      <div class="line-element-right">
        <a href="mailto:info@ogulcan-erdag.com"
          >info&#64;ogulcan-erdag.com</a
        >
        <div class="start-some">
          <img src="../../../assets/img/github-green.svg" alt="" />
          <div class="link-dot"></div>
        </div>
        <div class="start-some">
          <img src="../../../assets/img/linkedin-green.svg" alt="" />
          <div class="link-dot"></div>
        </div>
        <div class="line-right"></div>
      </div>
    </div>
  </div>
</div>
