
  <div id="aboutme-container">
    <div class="aboutme-content">
      <div class="aboutme-img">
        <div class="profile-img"></div>
        <div class="square"></div>
      </div>
      <div class="aboutme-right" id="aboutme-right">
        <p>{{ getTranslation("ABOUTME.HEADLINE1") }}</p>
        <div class="profile-text" >
          <h1>{{ getTranslation("ABOUTME.HEADLINE2") }}</h1>
          <p>{{ getTranslation("ABOUTME.TEASER") }}</p>

          <div class="profile-skills">
            <img src="../../../assets/img/location_on.svg" alt="Location" />
            <p>{{ getTranslation("ABOUTME.TEXT1") }}</p>
          </div>

          <div class="profile-skills">
            <img src="../../../assets/img/cognition.svg" alt="Cognition" />
            <p>{{ getTranslation("ABOUTME.TEXT2") }}</p>
          </div>

          <div class="profile-skills">
            <img
              src="../../../assets/img/new_releases.svg"
              alt="New Releases"
            />
            <p>{{ getTranslation("ABOUTME.TEXT3") }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

