@import "../../../mixins.scss";

#aboutme-container {
  max-width: 100%;
  background-color: $standard-background;
  @include dFlex($fd: row, $jc: center, $ai: center);
}

.aboutme-content {
  width: 1920px;
  @include dFlex($fd: row, $jc: center, $ai: flex-start);
  gap: 150px;
  @include margin-sides($le: 96px, $ri: 96px);
  padding-top: 150px;
  padding-bottom: 150px;
}

.aboutme-img {
  position: relative;
}

.square {
  width: 568px;
  height: 568px;
  background-color: #1c1c1c;
  background-image: url("../../../assets/img/diagonal-lines.svg");
  background-size: 40px 40px;
  border-radius: 30px;
  z-index: 1;
}

.profile-img {
  width: 568px;
  height: 568px;
  border-radius: 30px;
  // background-image: url("../../../assets/img/profile_img1.jpg");
  background-size: cover;
  position: absolute;
  top: -30px;
  right: -40px;
  z-index: 2;
}

.aboutme-right {
  @include dFlex($jc: flex-start, $ai: column);
  > p {
    font-family: "Karla";
    font-weight: 500;
    font-size: 24px;
    color: $standard-green;
  }
  gap: 20px;
  padding-top: 60px;
}

.profile-text {
  width: 568px;
  border: 1px solid $standard-green;
  border-radius: 30px;
  background-color: rgba(61, 207, 182, 0.1);
  padding: 32px;
  > h1 {
    color: $standard-green;
    font-size: 64px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 20px;
  }
  > p {
    font-family: "Karla";
    font-weight: 400;
    font-size: 18px;
    color: white;
    padding-bottom: 32px;
    line-height: 1.4;
  }
}

.profile-skills {
  @include dFlex($fd: row, $jc: flex-start, $ai: flex-start);
  padding-bottom: 16px;
  gap: 24px;
  > p {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Karla";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
  }
  > img {
    width: 25px;
  }
}

@media (max-width: 1440px) {
  .aboutme-content {
    width: 90%;
    @include dFlex($fd: column, $jc: flex-start, $ai: center);
    gap: 0px;
    @include margin-sides($le: 0px, $ri: 0px);
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

@media (max-width: 700px) {
  .aboutme-img {
    width: 100%;
  }
  .square {
    width: 95%;
    height: auto;
    padding-top: 95%;
    background-color: #1c1c1c;
    background-image: url("../../../assets/img/diagonal-lines.svg");
    background-size: 40px 40px;
    border-radius: 30px;
    z-index: 1;
  }
  .profile-img {
    width: 95%;
    height: auto;
    padding-top: 95%;
    border-radius: 30px;
    // background-image: url("../../../assets/img/profile_img1.jpg");
    background-size: cover;
    position: absolute;
    top: -20px;
    right: 0px;
    z-index: 2;
  }
  .aboutme-right {
    > p {
      font-family: "Karla";
      font-weight: 500;
      font-size: 24px;
      color: $standard-green;
    }
    gap: 20px;
    padding-top: 60px;
  }
  .profile-text {
    width: 100%;
    border: 1px solid $standard-green;
    border-radius: 30px;
    background-color: rgba(61, 207, 182, 0.1);
    padding: 32px;
    box-sizing: border-box;
    > h1 {
      color: $standard-green;
      font-size: 45px;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-bottom: 20px;
    }
    > p {
      font-family: "Karla";
      font-weight: 400;
      font-size: 16px;
      color: white;
      padding-bottom: 32px;
      line-height: 1.3;
    }
  }
  .profile-skills {
    @include dFlex($fd: row, $jc: flex-start, $ai: flex-start);
    padding-bottom: 16px;
    gap: 24px;
    > p {
      color: rgba(255, 255, 255, 0.8);
      font-family: "Karla";
      font-weight: 400;
      font-size: 16px;
      line-height: 1.3;
    }
    > img {
      width: 25px;
    }
  }
}
