@import '../../../mixins.scss';

#footer-container {
    width: 100%;
    position: relative;
    background-color: $standard-background;
    padding-bottom: 96px;
    padding-top: 96px;
    @include dFlex($fd: row, $jc: center, $ai: center);
}

.footer-content {
    @include dFlex($fd: row, $jc:space-between, $ai: center);
    width: 1350px;
    position: relative;
    @include margin-sides($le: 96px, $ri: 96px);
}

.footer-content-mobile {
    @include dFlex($fd: column, $jc:flex-start, $ai: center);
    width: 90%;
    position: relative;
    display: none;
    gap: 50px;
    @include margin-sides($le: 0px, $ri: 0px);
}

.footer-top {
    width: 100%;
    @include dFlex($fd: row, $jc:space-between, $ai: center);
}

.footer-right-mobile {
    @include dFlex($fd: column, $jc:flex-start, $ai: flex-start);
    gap: 8px;
    > .link-right {
        > a {
            font-family: 'Karla';
            font-weight: 400;
            font-size: 16px; 
        }
    }
}

.footer-left, .footer-right {
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start);
    gap: 8px;
    > img {
        width: 100px;
        padding-bottom: 15px;
    };
    > p, a {
        font-family: 'Karla';
        font-weight: 400;
        font-size: 16px;   
    }
}

.link-right {
    @include dFlex($fd: row, $jc: flex-start, $ai: center);
    gap: 5px;
    > a {
        color: white;
        transition: color 0.15s ease;
    };
    > .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $standard-green;
        opacity: 0;
        transition: opacity 0.15s ease;
    };
    &:hover {
        > a {
          color: $standard-green;
        }
    
        .dot {
          opacity: 1;
        }
      }
}

.footer-middle p {
        font-size: 18px;
        color: $standard-green
}

@media (max-width: 900px) {
    .footer-content {
        display: none;
    }
    .footer-content-mobile {
        display: flex;
    }
}